#calendar {
    max-width: 100%;
    margin: 0 auto;
    font-size: 12px;
}
.fc-daygrid-day {
    height: 50px !important;
}
.fc-col-header-cell {
    padding: 5px 0 !important;
}
.fc-daygrid-day-number {
    padding: 2px 5px !important;
    font-size: 0.9em;
}
.fc-event {
    border: none;
    border-radius: 2px;
    padding: 1px 3px;
    font-size: 0.8em;
}
.fc-toolbar-title {
    font-size: 1.1em !important;
    font-weight: bold;
}
.fc-button {
    padding: 0.2em 0.65em !important;
    font-size: 0.9em !important;
}
.fc-button-primary {
    background-color: #4e73df !important;
    border-color: #4e73df !important;
}
.fc-button-primary:hover {
    background-color: #2e59d9 !important;
    border-color: #2e59d9 !important;
}
.badge {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}